#Core Google Cloud + AI
google-cloud-aiplatform      
google-cloud-translate      
google-cloud-storage         
google-cloud-firestore       
google-cloud-bigquery        
google-cloud-pubsub          
google-cloud-functions     

# AI / ML / NLP
transformers                 
torch                        
scikit-learn                 
faiss-cpu                    
sentence-transformers        

# APIs & Integrations
requests                     
beautifulsoup4              

# Backend / Web
fastapi                     
uvicorn                     
pydantic                     
firebase-admin              

# Utils
pandas                       
numpy                       
python-dotenv                
